<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    user목록
    <% list.forEach( user => { %>
        <li> <%= user.name %> </li>
    <% }) %>
    <button>글쓰기</button>
</body>
</html>